.alter-zhihu-aigc-wrap {
  position: fixed;
  width: 400px;
  top: 100px;
  left: 20px;
}
.alter-ai-box {
  background: #ffffff;
  padding: 10px;
  overflow-y: auto;
  height: 600px;
  border: 1px solid;
  margin-top:20px;
}

.alter-title {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #324;
  padding-bottom: 10px;
}

.alter-title-icon {
  width: 30px;
  height: 30px;
}

.alter-title-text {
  margin-left: 10px;
  color: #333;
  font-size: 16px;
  white-space: pre-wrap;
}

.alter-answer {
  margin-top: 10px;
}

.alter-answer-content {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  padding: 0 10px;
  white-space: pre-wrap;
}

.alter-answer-copy-button {
  color: #1e1f24;
  cursor: pointer;
}

.alter-answer-copy-button img {
  padding-top: 10px;
  width: 20px;
  height: 20px;
}
.alter-ball {
  transition: width 2s,scale 0.5s;
  height: 30px;
  left: 100px;
  top: 100px;
  /* background: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 1px #333333;
  background: #056de8;
  /* width: 100px; */
  padding: 0 5px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  text-align: center;
}
.alter-ball .alter-ball-text {
  text-align: center;
  position: relative;
}

.alter-ball .alter-ball-version {
  text-align: center;
  position: absolute;
  right: 2px;
  top: 5px;
}

.alter-ball:hover {
  /* animation-name: myfirst;
  animation-duration: 1s; */
  scale:1.1;
}
.alter-ball-box {
  display: flex;
  justify-content: right;
}

@keyframes myfirst {
  0% {
    scale: 1;
  }
  25% {
    scale: 1.1;
  }
  50% {
    scale: 1.2;
  }
  75% {
    scale: 1.3;
  }
  100% {
    scale: 1.5;
  }
}
